*.DS_Store
*.log
*.tsbuildinfo

.pnp.*
.pnp.cjs
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/packge-lock.json
**/node_modules/

# vite
**/build
**/dist/*
dist

# next.js
**/.next/
**/out/

.env
**/.env

.nx