{
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "eslintIntegration": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "orderedImports": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
