#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.react-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.react-icon.search {
  width: 17.5px;
  height: 17.5px;
  opacity: 0.7;
}

.react-icon.all {
  width: 14px;
  height: 14px;
}

.arrow-down-img {
  width: 19px;
}

.arrow-down-img path {
  stroke-width: 1px;
}

.full-width {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
